<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)="onSubmit(formStudent)" #formStudent="ngForm">
            <div class="form-group">
                <label for="name" style="color: antiquewhite; font-weight:900">
                    Nom de l'étudiant
                </label>
                <input type="text" id="name" value= "type your name"class="form-control" name="name" placeholder="Entrez le nom de l'etudiants!" ngModel required>
            </div>
            <div class="form-group">
                <label for="status" style="color: antiquewhite; font-weight:900">
                    État de l'étudiant
                </label>
                <select id="status" class="form-control" name="status" [ngModel] = "defaultStatus">
                    <option value="present">present</option>
                    <option value="absent">absent</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="formStudent.invalid">Enregistrer</button> 
        </form>
    </div>
</div>