
    <div class="col-xs-12">
        <ul class="list-group">
            <app-students *ngFor="let student of students; let i = index" 
                [index]="i" 
                [studentName]="student.name" 
                [studentStatus]="student.status" 
                [id]="student.id" >
            </app-students>
        </ul>
        
        <button class="btn btn-success"
            [disabled]="isAuth" 
            (click)="allPresent()">Tous Présents
        </button>
  
        <button class="btn btn-danger"
            [disabled]="isAuth"
            (click)="allAbsent()">Tous Absent
        </button>
    
    </div>
 